.consultaComponent {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr;

  &-header {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #FEA771;
    border-bottom: 1px solid gray;

    &-searchButton {
      width: 350px;
      height: 50px;
    }
  }

  &-content {
    background-color: white;
    padding: 10%;
    padding-top: 25px;
    &-div {
      &.loading {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
      }
    }
    table {
      width: 100%;
    }
  }
}
